@use "../../../styles/colors.scss";

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 10vh;
  width: 100%;

  @media (max-width: 1400px) {
    height: 140px;
  }

  @media (max-width: 1200px) {
    height: 130px;
  }

  @media (max-width: 992px) {
    height: 120px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 50px;
    width: 44px;
    height: 26px;
    cursor: pointer;
    transition: height 0.25s 0.5s;
    transform: translateY(-50%);
    z-index: 300;

    .top,
    .middle,
    .bottom {
      display: block;
      width: 100%;
      height: 4px;
    }

    .top {
      position: relative;
      background-color: colors.$blue;

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 22px;
        height: 4px;
        background-color: colors.$blue;
        transition: 0.5s left;
      }
    }

    .middle {
      background-color: colors.$yellow;
      transition: opacity 0.25s 0.5s;
    }

    .bottom {
      position: relative;
      background-color: colors.$red;

      &::before {
        content: "";
        position: absolute;
        bottom: 4px;
        right: 0;
        width: 22px;
        height: 4px;
        background-color: colors.$red;
        transition: 0.5s right;
      }
    }

    &.active {
      height: 12px;
      transition: height 0.25s 0.5s;

      .middle {
        opacity: 0;
        transition: opacity 0.25s 0.5s;
      }

      .top {
        &::before {
          left: 22px;
          transition: 0.5s left;
        }
      }

      .bottom {
        &::before {
          right: 22px;
          transition: 0.5s right;
        }
      }
    }
  }

  .nav {
    position: absolute;
    top: 25%;
    right: -400px;
    background-color: colors.$white;
    width: 270px;
    height: 380px;
    padding: 60px 40px;
    z-index: 5;
    transition: 0.5s right;
    z-index: 200;

    &.active {
      right: 20px;
      transition: 0.5s right;

      @media (max-width: 768px) {
        width: 50%;
      }

      li {
        padding-left: 0;
        transition: padding-left 0.5s 0.25s;
      }
    }

    ul {
      padding: 0;
      list-style-type: none;

      li {
        margin-bottom: 20px;
        padding-left: 50px;
        transition: padding-left 0.5s 0.25s;
      }
    }
  }
}
